#menu-obw-main-obw-menu-main > a:before {
	content: url('../images/obw.png') !important;
	/*content: '\e900';*/
	font-size: 2.4rem!important;
	position: relative!important;
	top: -0.2rem!important;
}
